{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Pessoas</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pessoas.css' %}">
</head>

<body>
    <header>
        <h1>Sistema de Cadastro de Pessoas</h1>
    </header>
    <div class="col-md-12">
        <div class="header-nav">
        </div>
        <a href="cadastro" class="button-nav right fa">Cadastro</a>
    </div>
    </div>
    <div>
        <div class='div-back'>
            <table class="div-back shadow tb-arr tabled table-status table-hover table table-striped ">
                <thead class="arr">
                    <tr class="font-25 tr">
                        <td class="align-middle">ID</td>
                        <td class="align-middle">Nome</td>
                        <td class="align-middle">Sobrenome</td>
                        <td class="align-middle">Idade</td>
                        <td class="align-middle">Data de Nascimento</td>
                        <td class="align-middle">e-mail</td>
                        <td class="align-middle">Apelido</td>
                        <td class="align-middle">Observação</td>
                    </tr>
                </thead>
                {% for pessoa in pessoas %}
                <tbody class="td-center">
                    <tr class="font-20 tr " v-for="order in list" v-bind:key="order.cod">
                        <td width="5%" class="align-middle">{{pessoa.id}}</td>
                        <td width="13%" class="align-middle">{{pessoa.nome}}</td>
                        <td width="7%" class="align-middle">{{pessoa.sobrenome}}</td>
                        <td width="7%" class="align-middle">{{pessoa.idade}}</td>
                        <td width="18%" class="align-middle">{{pessoa.data_nascimento}}</td>
                        <td width="20%" class="align-middle">{{pessoa.email}}</td>
                        <td width="17%" class="align-middle">{{pessoa.apelido}}</td>
                        <td width="23%" class="align-middle">{{pessoa.observacao}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>