{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pessoas.css' %}">
</head>

<body>
    <div class='div-back'>
        <div class="div_form shadow_form arr1">
            <h1 class="register_header">Cadastro de pessoas</h1>
            <form method="POST" class="input_form">
                {% csrf_token %} {{form.as_p}}
                <div class="submit_btn">
                    <input id="submit" class="btn orange shadow margin " type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12 submit_btn">

        <a href="/pessoas/ " class="button-nav btn fa ">Voltar</a>
        <a href="cadastrar " class="button-nav btn fa ">Gerar outro nome</a>
    </div>

</body>

</html>